.section-a-liga {
    width: 93%;
    margin-left: 2vw;
    margin-top: 0px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    
    padding: 0px 0px 0px 0px;
}

.section-a-liga + .section-a-liga {
    margin-top: 100px;
}

#second-part-section-a-liga{
    margin-right: 5vw;
    margin-left: 5vw;
}

.logo-about-liga {
    width: 46vw;
    height: 46vw;
    margin-right: -50px;
}

#first-img-equipe {
    margin-bottom: 8px;
}

#first-img-equipe img{
    width: 436px;
    height: 383px;
}

#second-img-premio{
    width: 335.69px;
    height: 479px;
}

 
h4 {
    padding-top: 10px ;
    padding-bottom: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;

    color: #FAF8F8;

}