#body-conselho-card {
    width: 100%;
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #ECECEC;
    border-radius: 30px;

    padding: 60px 40px 60px 60px;
    
}
#body-conselho-card .image-profile {
    width: 40%;
    height: 100%;
}
#body-conselho-card button{
    cursor:pointer;
    border: none;
}

#body-conselho-card .text-conselho-card {
    width: 100%;
    height: 100%;
    margin: 10px 60px 10px 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    font-family: Poppins;
    font-style: normal;
}

#body-conselho-card .text-conselho-card h1{
    font-weight: bold;
    font-size: 36px;
}

#body-conselho-card .text-conselho-card p{
    font-size: 26px;
    color: black;
}

#body-conselho-card .text-conselho-card h2{
    font-size: 26px;
    font-weight: normal;
}