#section-login {
  width: 100vw;
  height: 100vh;
  display: flex;

  background-image: url('../../assets/img/background-login.png');
  background-size: 100% 100%;
  background-position: cover;
  background-repeat: no-repeat;
}

#container-form-login {
  display: flex;
  width: 40vw;
  height: 80vh;
  padding-top: 14%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#form-login {
  width: 30vw;
  padding: 8px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: #FAF8F8;
  border-radius: 10px;
}

#form-login button {
  margin: 20px auto;
}

#form-login .forgot-password {
  font-family: Poppins;
  font-weight: bold;
  font-size: 12px;
  color: #7B868E;
  text-decoration: none;
}

#error-message-login {
  display: none;
  margin-top: 8px;
  padding: 8px;
  background-color: #EB5757;
  text-align: center;
  border-radius: 10px;
}

#error-message-login span {
  font-family: Poppins;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
}

.logo-liga-login {
  width: 55%;
}

.logo-liga-login img {
  width: 38%;
  position: relative;
  top: 24%;
  left: 38%;
}

#text-entrar {
  color: #000000;
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 2.4rem;
  padding: 4px;
}

.create-account-wrapper {
  width: 74%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.create-account-wrapper span {
  text-align: center;
  line-height: 80px;

  font-size: 12px;
  font-weight: medium;
  font-family: Poppins;
}

.create-account-wrapper #container-main-button > span {
  font-size: 10px;
}


